<%- include('partials/header') -%>
    <h1>Online users: <span id="online"></span></h1>
    <p>
        Number of clicks: <span id="clicks"></span><br  />
        <button id="clicker">Click me</button>
    </p>

    <script src="/socket.io/socket.io.js"></script>
<%- include('partials/footer') -%>
